@import "tailwindcss";
.recharts-wrapper:focus,
.recharts-wrapper *:focus,
.recharts-surface:focus,
.recharts-bar-rectangle:focus,
.recharts-text:focus,
.recharts-cartesian-axis-tick-value:focus,
.recharts-layer:focus {
  outline: none !important;
  box-shadow: none !important;
  -webkit-tap-highlight-color: transparent;
}